@mixin elInputInner(){
  color: #acbab8;
  background: none;
  border-radius: 0;
  border: 1px solid #323232;

  &:focus {
    box-shadow: inset 1px 1px 2px var(--greyLight-2), inset -1px -1px 2px var(--white);
    outline: none;
  }
}

@mixin elTextAreaInner() {
  color: #acbab8;
  background: none;
  border-radius: 0;
  border: 1px solid #323232;

  &:focus {
    box-shadow: inset 1px 1px 2px var(--greyLight-2), inset -1px -1px 2px var(--white);
    outline: none;
  }
}

@mixin elBtn() {
  color: #afb1b3;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  font-family: Montserrat, sans-serif;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: #4c5052;

  &:hover {
    background-color: #4c5052;
  }

  &:active {
    box-shadow: inset 1px 1px 2px var(--greyLight-2), inset -1px -1px 2px var(--white);
  }
}

@mixin scrollBar() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: transparent;
  }

  /*定义滚动条的轨道颜色、内阴影及圆角*/
  &::-webkit-scrollbar-track {
    background-color: #2b2b2b;
    border-radius: 0;
  }

  /*定义滑块颜色、内阴影及圆角*/
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #4e4e4e;
  }

  /*定义两端按钮的样式*/
  &::-webkit-scrollbar-button {
    display: none;
  }

  /*定义右下角汇合处的样式*/
  &::-webkit-scrollbar-corner {
    border-radius: 3px;
    background-color: transparent;
  }

  //滚动条鼠标移上去的样式
  &::-webkit-scrollbar-thumb:vertical:hover,::-webkit-scrollbar-thumb:horizontal:hover
  {
    background-color: #808080;
  }
}